@model IEnumerable<inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pago";
}

<div class="container mt-5">
    <h2 class="mb-4 text-purple fw-bold">@ViewData["Title"]</h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle shadow-sm rounded-3 bg-white">
            <thead class="bg-light-purple text-purple">
                <tr>
                    <th>Numero Pago</th>
                    <th>Detalle Pago</th>
                    <th>Fecha de Pago</th>
                    <th>Monto de Pago</th>
                    <th>Estado de Pago</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pago in Model)
                {
                    <tr>
                        <td>@pago.numero_pago</td>
                        <td>@pago.detalle_pago</td>
                        <td>@pago.fecha_de_pago</td>
                        <td>@pago.monto_pago</td>
                        <td>@pago.esta_anulado</td>
                        <td>
                            <a class="btn btn-sm btn-info me-1" asp-action="Details" asp-route-id="@pago.id_pago">Ver</a>
                            <a class="btn btn-sm btn-warning me-1" asp-action="Edit" asp-route-id="@pago.id_pago">Editar</a>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@pago.id_pago" data-nombre="@pago.id_pago">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a class="btn btn-gradient-success fw-semibold" asp-action="Create">Agregar Nuevo Pago</a>
    </div>
</div>