@model inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Agregar un Contrato";
}

<div class="container mt-5">
    <h2 class="mb-4">Contratar!</h2>

    <form asp-action="ConfirmarContratacion" method="post">

        <div class="mb-3">
            <label class="form-label">Fecha de Inicio:</label>
            <input type="date" class="form-control" value="@ViewBag.fechaInicio" readonly />
            <input type="hidden" name="fechaInicio_contrato" value="@ViewBag.fechaInicio" />
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha de Fin:</label>
            <input type="date" class="form-control" value="@ViewBag.fechaFin" readonly />
            <input type="hidden" name="fechaFin_contrato" value="@ViewBag.fechaFin" />
        </div>

        <div class="mb-3">
            <label asp-for="monto_contrato" class="form-label">Monto:</label>
            <input type="text" asp-for="monto_contrato" class="form-control">
            <span asp-validation-for="monto_contrato" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="idInquilino" class="form-label">Inquilino:</label>
            <select asp-for="idInquilino" class="form-control">
                <option value="">Seleccione un inquilino</option>
                @foreach (var p in ViewBag.inquilinos)
                {
                    <option value="@p.id_inquilino">@p.nombre_inquilino</option>
                }
            </select>
            <span asp-validation-for="idInquilino" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label class="form-label">Inmueble:</label>
            <input type="text" class="form-control" value="@ViewBag.inmueble.direccion_inmueble" readonly />
            <input type="hidden" name="idInmueble" value="@ViewBag.inmueble.id_inmueble" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>