@model inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Agregar un Contrato";
}

<div class="container mt-5">
    <h2 class="mb-4">Renovar Contrato</h2>

    <form asp-action="ConfirmarRenovacion" method="post">
        <input type="hidden" asp-for="id_contrato" />
        <div class="mb-3">
            <label asp-for="fechaInicio_contrato" class="form-label">Fecha de Inicio:</label>
            <input type="date" asp-for="fechaInicio_contrato" class="form-control"
                min="@DateTime.Now.ToString("yyyy-MM-dd")">
            <span asp-validation-for="fechaInicio_contrato" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="fechaFin_contrato" class="form-label">Fecha de Fin:</label>
            <input type="date" asp-for="fechaFin_contrato" class="form-control"
                min="@DateTime.Now.ToString("yyyy-MM-dd")">
            <span asp-validation-for="fechaFin_contrato" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="monto_contrato" class="form-label">Monto:</label>
            <input type="text" asp-for="monto_contrato" class="form-control">
            <span asp-validation-for="monto_contrato" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="idInquilino" class="form-label">Inquilino:</label>
            <input type="text" class="form-control" value="@ViewBag.inquilino.nombre_inquilino" readonly />
            <input type="hidden" asp-for="idInquilino" value="@ViewBag.inquilino.id_inquilino" />
            <span asp-validation-for="idInquilino" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="idInmueble" class="form-label">Inmueble:</label>
            <input type="text" class="form-control" value="@ViewBag.inmueble.direccion_inmueble" readonly />
            <input type="hidden" asp-for="idInmueble" value="@ViewBag.inmueble.id_inmueble" />
            <span asp-validation-for="idInmueble" class="text-danger"></span>
        </div>


        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <strong>Se encontraron errores:</strong>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }


        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>